@tailwind base;
  @tailwind components;
  @tailwind utilities;

  html{
    background-color: #1B2A25;
  heigt:100%;
  width:100%;
  }
.homepage{
  background-color: #1B2A25;
  heigt:100%;
  width:100%;
}
.start-section{
  background-image: url('/images/Picture-of-me.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 400px;
  max-height:100%;
  max-width:100%;
  margin:0;
}