@tailwind base;
  @tailwind components;
  @tailwind utilities;
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700;900&family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap');


  html{
    background-color: #1B2A25;
  heigt:100%;
  width:100%;
  }
  body {
    font-family: 'Noto Sans', sans-serif;
  }
  
.homepage{
  background-color: #1B2A25;
  heigt:100%;
  width:100%;
}
.start-section{
  background-image: url('/images/Picture-of-me.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 400px;
  max-height:100%;
  max-width:100%;
  margin:0;
}

body > main > section.about-me.bg-green-darkest.p-4 > section > div > button{
  display:none;
}